<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TypeX Legends</title>
    <link href="https://fonts.googleapis.com/css?family=Armata" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
</head>

<body class="dark-grey" ng-app='app'>
    <header class="page-header">
        <div class="container">
            <img src="./img/typex_legends_logo_white.png" alt="Logo" id="logo">
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">|||
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">NewGame</a></li>
                <li><a href="#">Profile/Stats</a></li>
                <li><a href="#">Leadership board</a></li>
                <li><a href="#">Leave game</a></li>
            </ul>
        </div>
    </header>

    <div class="row">

        <!--Left side ads-->
        <div class="col-sm-2"></div>

        <!--Main game container-->
        <div class="col-sm-8">
            <div class="jumbotron">
                <div class="row" ng-controller="cont">

                    <!--Team 1 container-->
                    <div class="col-sm-3 text-center">
                        <h1><b>TEAM 1</b></h1>
                        <ul>
                            <li class="list-group-item list-group-item-info" ng-repeat="player in team1">{{ player }}</li>
                        </ul>
                        <h4>TEAM POINTS</h4>
                        <h4 id="team1Points">{{ team1Points }}</h4>
                    </div>

                    <!--Gameplay container-->
                    <div class="col-sm-6 text-center align-self-center">
                        <h3 id="timer"></h3>
                        <h1 id="win"></h1>
                        <h4 id="numOfPlayers"></h4>
                        <h4 id="endGamePoints1"></h4>
                        <h4 id="endGamePoints2"></h4>
                        <ul>
                            <li class="list-group-item list-group-item-primary" ng-repeat="word in words"> {{ word }} </li>
                        </ul>
                        <form>
                            <div class="input-group input-group-lg">

                                <input id="m" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">

                            </div>
                        </form>
                    </div>

                    <!--Team 2 container-->
                    <div class="col-sm-3 text-center">
                        <h1><b>TEAM 2</b></h1>
                        <ul>
                            <li class="list-group-item list-group-item-warning" ng-repeat="player in team2">{{ player }}</li>
                        </ul>
                        <h4>TEAM POINTS</h4>
                        <h4 id="team1Points">{{ team2Points }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <!--Right side ads-->
        <div class="col-sm-2"></div>

    </div>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="app.js"></script>
</body>

</html>