* {
    font-family: 'Armata', sans-serif;
}

header {
    text-align: center;
    min-width: 400px;
    overflow: hidden;
}

header h1 {
    color: #ffffff;
    font-size: 70px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    text-shadow: 4px 3px 0px #7a7a7a;
}

.light-blue {
    background-color: lightblue;
}

.navy {
    background-color: navy;
}

.dark-grey {
    background-color: #292727;
}

#logo {
    width: 300px;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
}

.profileChoose {
    width: 175px;
    height: 200px;
}

#profPic {
    width: 300px;
    height: 350px;
}

.centerIt {
    text-align: center;
    padding-top: 50px;
}

.centerObject {
    display: flex;
    justify-content: center;
}